<section>
  <div class="page-header">
    <h3>Nova Cotação</h3>
  </div>
  <form name="vm.form.solicitacaoForm" enctype="multipart/form-data" class="form-horizontal" ng-submit="vm.save(vm.form.solicitacaoForm.$valid)" novalidate>
    <fieldset class="col-xs-12">
      <div class="row">
        <div  class="col-md-2">
          <div class="form-group" show-errors>

            <label class="control-label" for="segmento">Segmentos *</label>
            <select name="segmento" id="segmento" class="form-control" ng-model="vm.solicitacao.segmento"
                    ng-options="segmentos.nome for segmentos in vm.segmentos"
                    required ng-change="vm.filtrarSubSegmentosPorSegmento(vm.solicitacao.segmento)">
              <option value="">Selecione</option>
            </select>
            <div ng-messages="vm.form.solicitacaoForm.segmento.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Informe o Segmento</p>
            </div>
          </div>
        </div>
        <div  class="col-md-2 col-md-offset-1">
          <div class="form-group" show-errors>

            <label class="control-label" for="subSegmento">Sub-Segmentos *</label>
            <select name="subSegmento" id="subSegmento" class="form-control" ng-model="vm.solicitacao.subSegmento"
                    ng-options="subSegmentos.nome for subSegmentos in vm.subSegmentos"
                    required ng-disabled="vm.solicitacao.segmento == undefined">
              <option value="">Selecione</option>
            </select>
            <div ng-messages="vm.form.solicitacaoForm.subSegmento.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Informe o Sub-Segmento</p>
            </div>
          </div>
        </div>
        <div  class="col-md-2 col-md-offset-1">
          <div class="form-group" show-errors>
            <label class="control-label" for="tempoCotacao">Tempo para Cotação *</label>
            <input name="tempoCotacao" type="time" ng-model="vm.solicitacao.tempoCotacao" id="tempoCotacao" class="form-control" required>
            <div ng-messages="vm.form.solicitacaoForm.tempoCotacao.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Informe o tempo para cotação</p>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
    <fieldset class="col-xs-12">
      <div class="row">
        <legend>Produto(s)</legend>
        <!--  <hr>-->
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label"  for="nome">Nome do Produto *</label>
            <input name="nome" type="text" ng-model="vm.produto.nome" id="nome" class="form-control" placeholder="Nome do Produto">
            <!-- <div ng-messages="vm.form.solicitacaoForm.nome.$error" role="alert">
               <p class="help-block error-text" ng-message="required">Informe o Nome do Produto</p>
             </div>-->
          </div>
        </div>
        <div class="col-md-3 col-md-offset-1">
          <div class="form-group">
            <label class="control-label" for="nome">Código do Produto</label>
            <input name="codigo" type="text" ng-model="vm.produto.codigo" id="codigo" class="form-control" placeholder="Código do Produto">
            <!-- <div ng-messages="vm.form.solicitacaoForm.nome.$error" role="alert">
               <p class="help-block error-text" ng-message="required">Informe o Nome do Produto</p>
             </div>-->
          </div>
        </div>
        <div class="col-md-3 col-md-offset-1">
          <div class="form-group">
            <label class="control-label" for="unidadeMedida">Unidade de Medida *</label>
            <input name="unidadeMedida" type="text" ng-model="vm.produto.unidadeMedida" id="unidadeMedida" class="form-control" placeholder="Ex.: Caixa, Unidade, kg, m²">
            <!--<label class="control-label" for="tipoCotacao">Unidade de Medida</label>
            <select  name="tipoCotacao" id="tipoCotacao" class="form-control" ng-model="vm.produto.tipoCotacao"
                     ng-options="tipoCotacao for tipoCotacao in vm.tipoCotacao">
              <option value="">Selecione</option>
            </select>-->
            <!-- <div ng-messages="vm.form.solicitacaoForm.tipoCotacao.$error" role="alert">
               <p class="help-block error-text" ng-message="required">Informe o Tipo da Cotação</p>
             </div>-->
          </div>
        </div>
        <div class="col-md-2 col-md-offset-0">
          <div class="form-group">
            <label class="control-label" for="quantidade">Quantidade *</label>
            <input name="quantidade" type="number" ng-model="vm.produto.quantidade" id="quantidade" min="1" class="form-control" placeholder="0">
            <!-- <div ng-messages="vm.form.solicitacaoForm.quantidade.$error" role="alert">
               <p class="help-block error-text" ng-message="required">Informe a Quantidade</p>
             </div>-->
          </div>
        </div>
        <div class="col-md-2 col-md-offset-1">
          <div class="form-group">
            <label class="control-label" for="dataEntrega">Data de Entrega</label>
            <input name="dataEntrega" type="date" ng-model="vm.produto.dataEntrega" id="dataEntrega" class="form-control"
                   placeholder="Data de Entrega">
          </div>
        </div>
        <div class="col-md-2 col-md-offset-1">
          <div class="form-group">
            <label class="control-label" for="imagem"></label>
            <div class="form-group text-center" id="imagem" ng-show="vm.uploader.queue.length">
              <img src="{{vm.produto.imagemURL}}" alt="" class="img-thumbnail user-profile-picture">
            </div>
            <div class="text-center form-group">
          <span class="btn btn-default btn-file">
              Selecionar Imagem <input type="file" nv-file-select uploader="vm.uploader">
          </span>
            </div>
            <div class="text-center form-group" ng-show="vm.uploader.queue.length">
              <!--<button class="btn btn-primary" ng-click="uploadProfilePicture();">Salvar</button>-->
              <!--<button class="btn btn-default" ng-click="vm.cancelUpload();">Cancelar</button>-->
              <!--<button class="btn btn-default" ng-click="vm.cancelar();">Cancelar</button>-->
            </div>
            <div ng-show="success" class="text-center text-success">
              <strong>Imagem Salva com Sucesso</strong>
            </div>
            <div ng-show="error" class="text-center text-danger">
              <strong ng-bind="error"></strong>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12" style="text-align: right">
            <p></p>
            <button type="button" ng-show="vm.edicao" ng-click="vm.cancelarEdicao(vm.produto)" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i> Cancelar</button>
            <button type="button" ng-show="vm.edicao" ng-click="vm.salvarEdicao(vm.produto)" class="btn btn-warning"><i class="glyphicon glyphicon-edit"></i> Editar</button>
            <button type="button" ng-hide="vm.edicao" ng-click="vm.adicionarProduto(vm.produto)" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i> Adicionar Produto</button>
          </div>
        </div>
      </div>
      <table class="table table-striped" ng-show="vm.solicitacao.produtos.length">
        <thead>
        <tr>
          <th style="width: 21%">Nome do Produto</th>
          <th style="width: 12%">Código</th>
          <th style="width: 16%">Unidade de Medida</th>
          <th style="width: 10%">Quantidade</th>
          <th style="width: 12%">Data de Entrega</th>
          <th style="width: 15%">Imagem</th>
          <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="produto in vm.solicitacao.produtos">
          <td>{{produto.nome}}</td>
          <td>{{produto.codigo}}</td>
          <td>{{produto.unidadeMedida}}</td>
          <td>{{produto.quantidade}}</td>
          <td>{{produto.dataEntrega | date:"dd/MM/yyyy" | semData }}</td>
          <td><img ng-show="produto.imagemURL" ng-src="{{produto.imagemURL}}" class="img-thumbnail user-profile-picture"></td>
          <td>
            <button type="button" class="btn btn-warning btn-xs" ng-click="vm.editarProduto(produto)">
              <span class="glyphicon glyphicon-edit"></span> Editar
            </button>
            <button type="button" class="btn btn-danger btn-xs" ng-click="vm.removerProduto(produto)">
              <span class="glyphicon glyphicon-trash"></span> Remover
            </button>
          </td>
        </tr>
        </tbody>
      </table>
      <hr>
    </fieldset>

    <!-- <div class="form-group" show-errors>
       <label class="control-label" for="tempoCotacao">Tempo para Cotação</label>
       <input name="tempoCotacao" type="time" ng-model="vm.solicitacao.tempoCotacao" id="tempoCotacao" class="form-control" required>
        <div ng-messages="vm.form.solicitacaoForm.tempoCotacao.$error" role="alert">
          <p class="help-block error-text" ng-message="required">Informe o tempo para cotação</p>
        </div>
     </div>-->
    <div class="form-group">
      <div  class="col col-md-2">
        <p></p>
        <!--<button type="submit" class="btn btn-primary">{{vm.solicitacao._id ? 'Alterar' : 'Solicitar Cotação'}}</button>-->
        <button type="submit" class="btn btn-primary">Solicitar Cotação</button>
      </div>
    </div>
    <div ng-show="vm.error" class="text-danger">
      <strong ng-bind="vm.error"></strong>
    </div>

  </form>
  </div>
</section>
