<section>
  <div class="page-header">
    <h1>{{vm.solicitacao._id ? 'Editar Cotação' : 'Nova Cotação'}}</h1>
  </div>
    <form name="vm.form.solicitacaoForm" class="form-horizontal" ng-submit="vm.save(vm.form.solicitacaoForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="segmento">Segmentos</label>
          <select name="segmento" id="segmento" class="form-control" ng-model="vm.solicitacao.segmento"
                  ng-options="segmentos.nome for segmentos in vm.segmentos"
                  required ng-change="vm.filtrarSubSegmentosPorSegmento(vm.solicitacao.segmento)">
            <option value="">Selecione</option>
          </select>
          <div ng-messages="vm.form.solicitacaoForm.segmento.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Informe o Segmento</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="subSegmento">Sub-Segmentos</label>
          <select name="subSegmento" id="subSegmento" class="form-control" ng-model="vm.solicitacao.subSegmento"
                  ng-options="subSegmentos.nome for subSegmentos in vm.subSegmentos"
                  required ng-disabled="vm.solicitacao.segmento == undefined">
            <option value="">Selecione</option>
          </select>
          <div ng-messages="vm.form.solicitacaoForm.subSegmento.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Informe o Sub-Segmento</p>
          </div>
        </div>
        <fieldset class="col-xs-12">
          <div class="row">
            <h4>Produto(s)</h4>
            <hr>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label"  for="nome">Nome do Produto</label>
                <input name="nome" type="text" ng-model="vm.produto.nome" id="nome" class="form-control" placeholder="Nome do Produto">
               <!-- <div ng-messages="vm.form.solicitacaoForm.nome.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">Informe o Nome do Produto</p>
                </div>-->
              </div>
            </div>
            <div class="col-md-2 col-md-offset-1">
              <div class="form-group">
                <label class="control-label" for="tipoCotacao">Tipo da Cotação</label>
                <select  name="tipoCotacao" id="tipoCotacao" class="form-control" ng-model="vm.produto.tipoCotacao"
                         ng-options="tipoCotacao for tipoCotacao in vm.tipoCotacao"
                         >
                  <option value="">Selecione</option>
                </select>
               <!-- <div ng-messages="vm.form.solicitacaoForm.tipoCotacao.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">Informe o Tipo da Cotação</p>
                </div>-->
              </div>
            </div>
            <div class="col-md-1 col-md-offset-1">
              <div class="form-group">
                <label class="control-label" for="quantidade">Quantidade</label>
                <input name="quantidade" type="number" ng-model="vm.produto.quantidade" id="quantidade" min="1" class="form-control" placeholder="0"
                       >
               <!-- <div ng-messages="vm.form.solicitacaoForm.quantidade.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">Informe a Quantidade</p>
                </div>-->
              </div>
            </div>
            <div class="col-md-2 col-md-offset-1">
              <div class="form-group">
                <label class="control-label" for="quantidade">Data de Entrega (Opcional)</label>
                <input name="dataEntrega" type="date" ng-model="vm.produto.dataEntrega" id="dataEntrega" class="form-control"
                       placeholder="Data de Entrega">
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12" style="text-align: right">
                <p></p>
                <button type="button" ng-show="vm.edicao" ng-click="vm.cancelarEdicao(vm.produto)" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i> Cancelar</button>
                <button type="button" ng-show="vm.edicao" ng-click="vm.salvarEdicao(vm.produto)" class="btn btn-warning"><i class="glyphicon glyphicon-edit"></i> Editar</button>
                <button type="button" ng-hide="vm.edicao" ng-click="vm.adicionarProduto(vm.produto)" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i> Adicionar Produto</button>
              </div>
            </div>
          </div>
          <table class="table table-striped" ng-show="vm.solicitacao.produtos.length">
            <thead>
            <tr>
              <th style="width: 40%">Nome do Produto</th>
              <th style="width: 15%">Tipo da Cotação</th>
              <th style="width: 15%">Quantidade</th>
              <th style="width: 15%">Data de Entrega</th>
              <th>Ações</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="produto in vm.solicitacao.produtos">
              <td>{{produto.nome}}</td>
              <td>{{produto.tipoCotacao}}</td>
              <td>{{produto.quantidade}}</td>
              <td>{{produto.dataEntrega | date:"dd/MM/yyyy" | semData }}</td>
              <td>
                <button type="button" class="btn btn-warning btn-xs" ng-click="vm.editarProduto(produto)">
                  <span class="glyphicon glyphicon-edit"></span> Editar
                </button>
                <button type="button" class="btn btn-danger btn-xs" ng-click="vm.removerProduto(produto)">
                  <span class="glyphicon glyphicon-trash"></span> Remover
                </button>
              </td>
            </tr>
            </tbody>
          </table>
          <hr>
        </fieldset>
        <div class="form-group">
          <p></p>
          <!--<button type="submit" class="btn btn-primary">{{vm.solicitacao._id ? 'Alterar' : 'Solicitar Cotação'}}</button>-->
          <button type="submit" class="btn btn-primary">Solicitar Cotação</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
    </div>
</section>
