<section>
  <div class="page-header">
    <h1>Cotações</h1>
  </div>
  <div class="list-group">
    <a data-ng-repeat="solicitacao in vm.pagedItems"
       data-ui-sref="{{!solicitacao.ativo ? 'cotacoesCliente.view({ solicitacaoId: solicitacao._id })' : '#'}}"
       class="list-group-item">
      <small class="list-group-item-text">
        Criado em
        <span data-ng-bind="solicitacao.dataCadastro | date:'dd/MM/yyyy'"></span>
        <i class="glyphicon glyphicon-time"></i></td>
        <span data-ng-bind="solicitacao.dataCadastro | date:'HH:mm'"></span>
      <!--  por
        <span data-ng-if="solicitacao.user" data-ng-bind="solicitacao.user.displayName"></span>
        <span data-ng-if="!solicitacao.user">Deleted User</span>-->
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="solicitacao.subSegmento.nome"></h4>
      Status: {{solicitacao.ativo | status}}
      <span my-current-time="solicitacao"></span>
    </a>

    <pagination boundary-links="true" max-size="5" items-per-page="vm.itemsPerPage" total-items="vm.filterLength" ng-model="vm.currentPage" ng-change="vm.pageChanged()"></pagination>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="vm.solicitacoes.$resolved && !vm.solicitacoes.length">
    No Solicitacoes yet, why don't you <a data-ui-sref="solicitacoes.create">create one</a>?
  </div>


</section>
