<style>
  .right-inner-addon {
    position: relative;
    width: 40%;
  }
  .right-inner-addon input {
    padding-right: 5px;
    padding-left: 33px;
  }
  .right-inner-addon i {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
  }
  @media print {
    .no-print{
      display: none;
    }
    .item-print{
      display: block !important;
    }
  }
</style>
<section>
  <div class="page-header">
    <h3 data-ng-bind="vm.solicitacao.subSegmento.nome"></h3>
    <div class="no-print">
      <div class="right-inner-addon" ng-show="!(vm.cotacoes | isEmpty)">
        <i class="glyphicon glyphicon-search"></i>
        <input type="search"
               class="form-control"
               ng-model="searchText"
               placeholder="Procurar por Empresa, Produto ou Tipo da Cotação" />
      </div>
    </div>
  </div>
  <div ng-show="(vm.cotacoes | isEmpty)">
    <i>Não houve cotações</i>
    <hr>
  </div>
  <table class="table table-striped" ng-show="!(vm.cotacoes | isEmpty)">
    <thead>
    <tr>
      <th style="width: 3%" class="no-print" title="Seleciona Todos"> <input type="checkbox" ng-model="vm.selecionaTodos" ng-click="vm.marcaTodosItens()" /></th>
      <th style="width: 15%">Empresa</th>
      <th style="width: 18%">Nome do Produto</th>
      <th style="width: 10%">Código</th>
      <th style="width: 12%">Unidade de Medida</th>
      <th style="width: 9%">Quantidade</th>
      <th style="width: 9%">Data de Entrega</th>
      <th style="width: 20%">Imagem</th>
      <th style="width: 8%">Disponível</th>
      <th style="width: 15%">Valor</th>
      <th style="width: 15%">Valor Total</th>
      <th style="width: 14%">Observação</th>
    </tr>
    </thead>
    <tbody ng-repeat="cotacao in vm.cotacoes">
    <tr  ng-class="{'no-print': !produto.selecionado}" ng-repeat="produto in cotacao | filter:searchText">
      <td class="no-print"><input type="checkbox" ng-model="produto.selecionado" ng-click="vm.adicionarProduto(produto)"></td>
      <td>{{produto.user.displayName}}</td>
      <td>{{produto.nome}}</td>
      <td>{{produto.codigo}}</td>
      <td>{{produto.unidadeMedida}}</td>
      <td>{{produto.quantidade}}</td>
      <td>{{produto.dataEntrega | date:"dd/MM/yyyy" | semData }}</td>
      <td><img ng-if="produto.imagemURL !== ''" ng-src="{{produto.imagemURL}}" class="img-thumbnail user-profile-picture"></td>
      <td><input ng-disabled="true" type="checkbox" ng-model="produto.disponivel"></td>
      <td>{{produto.valor | currency}}</td>
      <td>{{produto.valor * produto.quantidade | currency}}
      <td>
        <div class="container">
          <!-- Trigger the modal with a button -->
          <button type="button" ng-class="{'btn btn-warning': produto.observacao !== '', 'btn btn-default' : produto.observacao === ''}"
                  ng-disabled="produto.observacao === ''" title="Observação" data-toggle="modal" data-target="#{{produto._id}}">
            <i class="glyphicon glyphicon-info-sign"></i>
          </button>

          <!-- Modal -->
          <div class="modal fade" id="{{produto._id}}" role="dialog">
            <div class="modal-dialog" role="document">

              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Produto: {{produto.nome}}</h4>
                </div>
                <div class="modal-body">
                  <p> {{produto.observacao}} </p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Sair</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="pull-right">
    <span>Total: {{vm.total | currency}}</span>
  </div>
  <small>
    <em class="text-muted">
      Solicitado em
      <time data-ng-bind="vm.solicitacao.dataCadastro | date:'dd/MM/yyyy'"></time>
      <i class="glyphicon glyphicon-time"></i></td>
      <span  data-ng-bind="vm.solicitacao.dataCadastro | date:' HH:mm'"></span>

      <!--  -
        <span data-ng-if="vm.solicitacao.user"
              data-ng-bind="vm.solicitacao.user.displayName"></span>
        <span data-ng-if="!vm.solicitacao.user">Deleted User</span>-->
    </em>
  </small>
  <p></p>
  <div class="no-print">
    <button class="btn btn-info" ng-click="vm.enviarProdutos()">Enviar</button>
    <a class="btn btn-warning" href="javascript:window.print()" class="btn primary large no-print">Imprimir Itens Selecionados</a>
    <button class="btn btn-default" ng-click="vm.voltar()">Voltar</button>
  </div>
  <p class="lead" data-ng-bind="vm.cotacao.content"></p>
</section>
