<section>
  <div class="page-header">
    <h1 data-ng-bind="vm.segmento.nome"></h1>
  </div>
  <div class="pull-right"
       data-ng-show="vm.segmento.isCurrentUserOwner">
    <a class="btn btn-primary"
       data-ui-sref="segmentos.edit({ segmentoId: vm.segmento._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" data-ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Criado em
      <span data-ng-bind="vm.segmento.dataCadastro | date:'mediumDate'"></span>
      por
      <span data-ng-if="vm.segmento.user"
            data-ng-bind="vm.segmento.user.displayName"></span>
      <span data-ng-if="!vm.segmento.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" data-ng-bind="vm.segmento.content"></p>
</section>
