.content {
  margin-top: 50px;
}
.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.header-profile-image {
  opacity: 0.8;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin-right: 5px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}
.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
}
.has-error .help-inline.error-text {
  display: inline;
}
.home{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
}
.navbar-inverse {
  background-color: #48A3B5;
  border-color: #fff;
}
.collapse .navbar-collapse{
  background: #48A3B5;
}
.navbar-fixed-top{
  background: #48A3B5;
}
.navbar-inverse .navbar-nav > li > a {
  color: #ddd;
}
.navbar-brand{
  color: #fff !important;
}
.navbar-inverse .navbar-nav > .open > a{
  background: #48A3B5;
  background-color: #48A3B5;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: #48A3B5;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  color: #fff;
  background: #fff;
  background-color: #48a3b5;
}
